.ShowReviews{   
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}


.reviewBox-container{
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 0 15px -1px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.05);
}

.reviewBox-container h2 {
    margin: 0;
}
.reviewBox-container h3 {
    padding-top: 20px;
    margin: 0;
}
.reviewBox-container h4 {
    padding-top: 10px;
    padding-bottom: 20px;

    margin: 0;
}
.reviewBox-container p{
    word-break: break-all;
}
