.review-container{
    padding-top: 10px;
    /* background: #1c1c1c; */
    font-family: Arial, Helvetica, sans-serif;
    width:  100%;
    margin: 10px;
    box-sizing: border-box;
    margin-left: 0;
}

.review{
    margin: 0 auto;
    border: 1px solid black;
    width: 85%;
    max-width: 1200px;
    /* background: #1c1c1c; */
    color: black;
    padding: 25px;

}

.review > p{
    margin-top: 0;
    margin-bottom: 5px;
}
 .review-content{  
    /* border: 1px solid red; */
    word-break:break-all;
}

 .SigninLink-container{
    /* width: 70%; */
    margin: 0 auto;
    display: flex;
    max-width : 750px;
    width: 50%;
    padding: 10px;
    color: #24292e;
    background-color: #fafbfc;
    border-radius: 3px;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
    transition: background-color .2s cubic-bezier(.3,0,.5,1);
    border: 1px solid rgba(27,31,35,.15) ;
    font-size: 10px;;
}
.SigninLink-container a{
    color: #24292e;
}

.SigninLink-container:hover{
    transition: 0.2s;
    border-radius: 3px; 
    background-color: #316aff;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
    color: #ffffff;
}


.SigninLink-container:hover a{
    color: white;
}
 .SigninLink{
    margin: 0 auto ;
    font-size: 1.5rem; 
}



.leave-review-container{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
}

 .leave-review{
    margin: 0 auto;
}

textarea{
    height: 150px;
    width: 100%; 
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid black;
    outline: none;
    transition: 0.5s;
    padding: 10px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    /* background-color: #21252d; */
    color: black;
    border-radius: 5px;
}
textarea:focus{
    transition: 0.5s;
}

textarea::placeholder { 
    transition: 0.5s;
    font-weight: 700;
}

textarea:focus::placeholder{
    transition: 0.4s;
    color: #21252d;
}


  
/* Hide scrollbar for Chrome, Safari and Opera */
textarea::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  textarea {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


/* Hide scrollbar for Chrome, Safari and Opera */
.review::-webkit-scrollbar {
    display: none;
  }
  




