.review{
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    margin: 0 auto;
    
    background: #1c1c1c;
    color: White;
    padding-bottom: 25px;
}


.review > .show-review-container{
    
    width: 70%;
    margin: 0 auto;
    display: flex;
    

}

.review > .show-review-container > .title{
    width: 20%;
    display: flex;

}
.review > .show-review-container > .review-text{  
    width: 80%;
    display: flex;
    align-items: center;
   
}

.review > .SigninLink-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 20px
}
.review > .SigninLink-container > .SigninLink{
    transition: 0.3s;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 auto ;
    padding: 20px;
    font-size: 2rem;
}

.SigninLink:hover{
    transition: 0.3s;
    cursor: pointer;
    color: black;
    background-color: white;
}

.leave-review-container{
    width: 70%;
    margin: 0 auto;
}

.leave-review-container > .leave-review{
    margin: 0 auto;
}

textarea{
    height: 100px;
    width: 90%; 
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    border: none;
    outline: none;

}

.leave-review button{
    margin: 0;
    margin-top: 10px;
    width: 100%;

    padding: 10px;
    border: 1px solid green;
    font-size: 2rem;
}
