.logOutButton{
    
}
button{
    color: white;
    font-size: 1rem;
    background-color: black;
    border: none;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.6s;

}
button:hover{
    transition: 0.6s;
    cursor: pointer;
    color: black;
    font-size: 28px;
    background-color: white;
    border: 2px solid greenyellow;
    border-radius: 5px;
}