
.feed{
    font-family: Arial, Helvetica, sans-serif;
}
.feed h1{
    margin-left : 50px;
}


.thumbnail img{
    height: 100%;
    width: 15vh;
    border-radius: 10px;
       
}

.feedBox .feed-info{
    padding-left: 20px;
    overflow: auto;
}

.feedBox-container{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 10px 10px  10px 2px gray;
    height: 20vh;
}

.feedBox-container h2 {
    margin: 0;
}
.feedBox-container h3 {
    
    margin: 0;
    font-size: 0.9rem;

}
.feedBox-container h4 {
    font-size: 0.9rem;
    margin: 0;
}