.ratings{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    background-color: #1c1c1c;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.button{
    margin: 0;
    margin-top: 10px;
    border: none;
    padding: 10px;
    background-color: #316aff;
}
.button:hover{

    transition: 0.5s;
    transform: scale(1.03);
    color:White;
    margin: 0;
    margin-top: 10px;
    border: none;
    padding: 10px;
    background-color: #316aff;
}
.button:active{
    border:none;
    outline: none;
    transform: scale(0.9);
}
#ratings {
    margin: 0 20px;
    min-width: 160px;
    font-size: 20px;
}

select{
    outline: none;
    color: white;
    background-color: #21252d;
    border: none;
    border-radius: 4px;
}
option{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    outline: none;
    background-color: #21252d;
    border: none
}
