.selections{
    /* border: 1px solid red; */
    background-color: #1c1c1c;
    
    width: 100%;
    box-sizing: border-box;
    font-family: 'Abel',sans-serif;
}
.selections-container{
    width: 95%;
    height: 8vh;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.selections-item{
    transition: 0.2s;
    height: 5vh;
    width: 25%;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    word-break:break-all;

}
.selections-item:hover{
    border-radius: 10px;
    transition: 0.2s;
    background-color: white;
    color: black;
    border: none;
}
.selections-item:active{
    transform: scale(0.9);
}
.selections-item:focus{
border: none;
outline: none;
}
@media(max-width : 1000px){
    .selections{
        color: red;
    }
}