.selections{
    /* border: 1px solid red; */
    /* background-color: #1c1c1c; */
    
    width: 100%;
    box-sizing: border-box;
    font-family: 'Abel',sans-serif;
}
.selections-container{
    width: 95%;
    height: 8vh;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.selections-item{
    transition: 0.2s;
    /* height: 6vh; */
    height: 45px;
    width: 25%;
    color: white;
    border-radius: 3px;
    overflow: hidden;
    word-break:break-all;
     
    color: #24292e;
    background-color: #fafbfc;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
    transition: background-color .2s cubic-bezier(.3,0,.5,1);

}
.selections-item:hover{
    transition: 0.2s;
    color: black;
    border-radius: 3px; 
    background-color: #2ea44f;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
    color: #ffffff;
}
.selections-item:active{
    transform: scale(0.9);
}
.selections-item:focus{
border: none;
outline: none;
}
@media(max-width : 1000px){
    .selections{
        color: red;
    }
}