.recommendation-container{
    width: 100%;
    min-height:80vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
    position : relative;
}
.recommendations{
    margin:0 auto;
    /* min-width: 500px;     */
    /* width:70%; */
    max-width: 600px;
    /* border: 1px solid black */
    padding: 20px;


}

.generateRecBtn{
    border: none;
    color: white;
    background-color: #1168fd;
    height: 50px;
    transition: 0.3s;
    width: 100%;
    margin-top: 20px;;
}
.generateRecBtn:hover{
    display: block;
    border: 1px solid black;
    color: black;
    transition: 0.3s;
}